Q1.Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

In [72]:
l=[2,7,11,15]

In [82]:
def target_addidtion_in_list(l,target):
    index=[]
    for i in l:
        for j in l:
            if i+j==target:
                index.append(l.index(i))
                index.append(l.index(j))
    
        
    return index

In [83]:
target_addidtion_in_list(l,22)

[1, 3, 2, 2, 3, 1]

In [52]:
l=[1, 2, 2, 1]

In [53]:
l.count(1)

2

In [67]:
for i in l:
    if l.count(i)>1:
        l.remove(i)
print(l[::-1])

[1, 2]

In [63]:
l.reverse()

In [64]:
l

[2, 1]

In [65]:
l

[2, 1]

In [66]:
l[::-1]

[1, 2]

In [84]:
arr={3,5,10,8}

In [85]:
min(arr)

3

In [86]:
max(arr)

10

In [88]:
for i in arr:
    lis

8
10
3
5

In [89]:
l=[7,1,5,6,4]

In [95]:
profit=[]
for i in l: 
    for j in l:
        profit.append(i-j)
    
print(max(profit))

6

In [111]:
class min_max:
    def __init__(self,list_of_selling_amount):
        self.selling_amount=list_of_selling_amount
    
    def min_max_detection(self):
        profit=[]
        for i in self.selling_amount:
            for j in self.selling_amount:
                profit.append(i-j)
        return max(profit)

In [112]:
obj=min_max([7,1,5,6,4])

In [113]:
obj.min_max_detection()

6

In [133]:
class min_max:
    
    def min_max_detection(self,selling_amounts):
        profit=[]
        for i in selling_amounts:
            for j in selling_amounts:
                profit.append(i-j)
        return max(profit)

In [134]:
obj=min_max()

In [135]:
obj.min_max_detection([10,30,23,12,50,8])

42

In [127]:
l=[10,30,23,12,50,8]

In [128]:
profit=[]
for i in l:
    for j in l:
        profit.append(i-j)
print(max(profit))

42

In [136]:
triplet=[-1,0,1,2,-1,-4]

In [144]:
output=[]
for i in triplet:
    for j in triplet:
        for k in triplet:
            if i!=j | j!=k | k!=i:
                if i+j+k==0:
                    print

TypeError: list expected at most 1 argument, got 3

In [152]:
k=[23,4,535,12,15]

In [154]:
sorted(k,reverse=True)[]

[535, 23, 15, 12, 4]

Q8. You have a set of integers s, which originally contains all the numbers from 1 to n. Unfortunately, due to some error, one of the numbers in s got duplicated to another number in the set, which results in repetition of one number and loss of another number.

You are given an integer array nums representing the data status of this set after the error.

Find the number that occurs twice and the number that is missing and return them in the form of an array.

In [182]:
def twice_occuring_and_missing(n,l):
    output=[]
    for i in range(1,n+1):
        if l.count(i)==2:
            output.append(i)
    for i in range(1,n+1):
        if i not in l:
            output.append(i)
            
    return output

In [183]:
twice_occuring_and_missing(10,[1,2,4,4,6,8,8,9])

[4, 8, 3, 5, 7, 10]