<aside>
💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [17]:
def is_power_2(n):
    l=[]
    for i in range(1,n):
        if i**2==n:
            l.append(i)
    if len(l)==1:
        return True

In [18]:
def is_power_2(n):
    if n == 1:
        return True
    elif n % 2 != 0 or n == 0:
        return False
    else:
        return is_power_of_two(n // 2)

def is_power_of_two_recursive(n):
    if n == 0:
        return False
    return is_power_of_two(n)

In [19]:
is_power_2(16)

True

In [20]:
is_power_2(3)

False

<aside>
💡 **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [26]:
def sum_n(n):
    if n==0:
        return 0
    if n>0:
        sum=0
        for i in range(1,n+1):
            sum=sum+i
        return sum

In [27]:
sum_n(3)

6

In [28]:
sum_n(5)

15

In [29]:
def sum_of_natural_numbers(n):
    if n == 0:
        return 0
    else:
        return n + sum_of_natural_numbers(n - 1)

In [30]:
sum_of_natural_numbers(10)

55

<aside>
💡 **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [31]:
def factorial(N):
    if N==0:
        return 0
    elif N==1:
        return 1
    else:
        mul=1
        for i in range(1,N+1):
            mul=mul*i
        return mul

In [32]:
factorial(5)

120

In [33]:
factorial(4)

24

In [39]:
def factorial(N):
     if N==0:
        return 0
     elif N==1:
        return 1
     else:
        return N *factorial(N-1)

In [40]:
factorial(6)

720

<aside>
💡 **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [44]:
def exponent_number(N,P):
    if P==0:
        return 1
    elif N==0:
        return 0
    else:
        return N**P

In [45]:
exponent_number(5,2)

25

In [46]:
def power_of_number(n, p):
    if p == 0:
        return 1
    else:
        return n * power_of_number(n, p - 1)

In [47]:
power_of_number(2,5)

32

<aside>
💡 **Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [54]:
def max_arr(arr):
    if len(list(arr))==0:
        return 0
    else:
        return max(list(arr))

In [55]:
max_arr({1, 4, 3, -5, -4, 8, 6})

8

In [56]:
def find_maximum(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_maximum(arr[1:]))

In [58]:
find_maximum( arr = [1, 4, 45, 6, 10, -8])

45

<aside>
💡 **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [71]:
def AP(a,d,N):
    l=[]
    l.append(a)
    for i in range(1,N+1):
        l.append(a+d*i)
    return l[N-1]

In [72]:
AP(a = 2,d = 1,N = 5)

6

In [73]:
AP(5,2,10)

23

In [78]:
def ap(a, d, n):
    if n == 1:
        return a
    else:
        return ap(a + d, d, n - 1)

In [79]:
ap(a = 2,d = 1,n = 5)

6

In [80]:
ap(5,2,10)

23

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

**Example 2:**

***Input:***

*S = “XY”*

***Output:***

*“XY”, “YX”*

In [81]:
import itertools

In [150]:
def permutation(S):
    l=[]
    l1=[]
    for i in itertools.permutations(S):
        l.append(i)
    for j in l:
        l1.append(''.join(list(j)))
    return (",".join(l1)).replace(',','","').replace("'",'"')

In [151]:
permutation("ABC")

'ABC","ACB","BAC","BCA","CAB","CBA'

<aside>
💡 **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [156]:
def product(arr):
    if len(list(arr))==0:
        return 0
    mul=1
    for i in list(arr):
        mul=mul*i
    return mul

In [157]:
product({1, 2, 3, 4, 5})

120

In [158]:
product({1, 6, 3})

18

In [161]:
def product_of_array(arr):
    if len(arr) == 0:
        return 1
    else:
        return arr[0] * product_of_array(arr[1:])

In [163]:
product_of_array([1,2,3,4,5])

120

In [164]:
product_of_array([1,6,3])

18